<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO_8859_1"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Insert title here</title>
</head>
<body>

<div th:fragment="download" class='container-fluid typeahead-demo'>
 <input type="text" ng-model="contatoSelecionado" placeholder="Digite o nome do contato" uib-typeahead="contato.nome for contato in lookupContact($viewValue)" class="form-control"/>  
 <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
 <p></p>
<a ng-href="contato/download/{{contatoSelecionado}}" target="_self" class="btn btn-primary">Download XML</a>
</div> 


</body>
</html>