<!DOCTYPE html>
<html ng-app="contatoApp" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Insert title here</title>

 <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
 <link rel="stylesheet" type="text/css" href="css/app.css" />
 <script src="js/lib/angular.min.js" ></script>
 <script src="js/lib/jquery-3.2.0.min.js" ></script>
 <script src="js/lib/bootstrap.min.js" ></script>
 <script src="js/app.js" ></script>
 <script src="js/contatoController.js" ></script>
 <script src="js/service/contatoService.js" ></script>
 <script src="js/config/contatoURL.js" ></script>

</head>

<body ng-controller="contatoController as ctrl">
<div class="container"><h2> Aplicação de contatos </h2></div>
<div id="exTab3" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1b" data-toggle="tab">Cadastrar contato</a>
			</li>
			<li><a href="#2b" data-toggle="tab">Contatos</a>
			</li>
			<li><a href="#3b" data-toggle="tab">Importar contatos</a>
			</li>
  		<li><a href="#4a" data-toggle="tab">Background color</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1b">
          	<div th:include="cadastrarcontatos::cadastrar"></div>
				</div>
				<div class="tab-pane" id="2b">
					<div th:include="contatos::contatos"></div>
				</div>
        <div class="tab-pane" id="3b">
         	<div th:include="importacaoxml::importar"></div>
				</div>
          <div class="tab-pane" id="4b">
          <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
  </div>
</body>
</html>